<div class="book-container">
<h2>{{title}}</h2>
<div class="table-responsive">
<form method="post" action="/books/delete">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Language</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><input type="text" name="ftitle" required 
              value="{{data.title}}"></td>
      <td><input type="text" name="fauthor" required 
             value="{{data.author}}"></td>
      <td><input type="text" name="flanguage" required 
              value="{{data.language}}"></td>
    </tr>
    <input type="hidden" name="id" value="{{data.id}}">
  </tbody>
  <tfooter>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Delete" 
              class="btn btn-success">
           <a href="/books"><input type="button" value="Cancel" 
              class="btn btn-danger"></a>
        </td>
    </tr>
  </tfooter>
</table>
</form>
</div>
</div>